$background: #f9faf5;

$blue: #293cb1;
$purple: #8c78ea;
$lightBlue: #d5e4fa;
$lavender: #e5d6fb;
$white: #fff;

$gray: #8f867b;
$black: #24272b;

$pastelYellow: #fffdc7;

$pastelPink: #fbd4f5;
$pink: #bb0dc1;

$pastelLime: #e4fb96;
$lime: #c9ed52;

$red: #f54343;
