$hue: 232;

$blue: hsl($hue, 57%, 35%); // #26348B
$blue1: hsl(calc($hue - 9), 80%, 58%); // #3d6ee9
$blue2: hsl($hue, 60%, 42%); // #2b3cac
$blue3: hsl($hue, 60%, 42%); // #2838a3

$gray: hsl(calc($hue - 22), 33%, 20%); // #223344
$lavender: hsl(calc($hue + 17), 100%, 79%); // #a392ff
$purple: hsl(calc($hue + 19), 55%, 38%); //#3f2b96
$lime: hsl(calc($hue - 152), 75%, 57%); // #ace440
$black: hsl(calc($hue - 232), 0%, 0%); // #000

$white: hsl(calc($hue - 232), 0%, 100%); // #fff
$white1: hsl(calc($hue - 232), 0%, 97%); // #f8f8f8
$white2: hsl(calc($hue - 232), 0%, 86%); // #dbdbdb

$primaryGradient: linear-gradient(45deg, $purple 10%, $blue1);
$loopedGradient: linear-gradient(45deg, $purple, $blue1, $purple);
