$hue: 236;

$white1: hsl(0, 0%, 97%); // #F8F8F8
$white2: rgb(255, 255, 255); //#fff
$white3: hsl(0, 0%, 93%); // #eeeeee
$white4: hsl(0, 0%, 75%); // #bebebe
$white5: hsl(0, 0%, 87%); // #DFDFDF
$white6: hsl(0, 0%, 86%); // #dbdbdb

$purple1: hsl(272, 76%, 53%); // #8E2DE2
$purple2: hsl(272, 65%, 48%); // #7f2ac9
$purple3: hsl(249, 49%, 35%); //#3B2E85
$purple4: hsl(249, 100%, 79%); // #A392FF
$purple5: hsl(272, 76%, 53%); // #8e2de2
$purple: hsl(299, 67%, 49%); // #ce29d1

$blue1: hsl(210, 33%, 20%); // #223344
$blue2: hsl(260, 100%, 44%); // #4a00e0

$green1: hsl(80, 75%, 57%); // #ACE440
