@font-face {
  font-family: $font;
  src: url('assets/fonts/Montserrat-Regular.ttf');
  font-weight: map-get($fontWeights, 'regular');
}

@font-face {
  font-family: $font;
  src: url('assets/fonts/Montserrat-Medium.ttf');
  font-weight: map-get($fontWeights, 'medium');
}

@font-face {
  font-family: $font;
  src: url('assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: map-get($fontWeights, 'semiBold');
}

@font-face {
  font-family: $font;
  src: url('assets/fonts/Montserrat-Bold.ttf');
  font-weight: map-get($fontWeights, 'bold');
}
