.team {
  padding-block: 10rem;
}

.title {
  color: $gray;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.9rem;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  .teamList {
    display: flex;
    align-items: stretch;
    position: relative;
    height: 43rem;
    width: 110rem;
    padding: 2rem 6rem 5rem;
    margin-top: 3rem;
  }

  .employee {
    color: $white;
    font-size: 1.6rem;
    text-align: center;
    perspective: 100rem;

    @media (hover: hover) {
      &:hover .card {
        transform: rotateY(180deg);
      }
    }
  }
}

.pagination {
  @extend %pagination;
}

.bullet {
  @extend %bullet;
}

.btn {
  @extend %sliderBtn;
}

@media (max-width: 1199.98px) {
  .slider {
    gap: 1rem;

    .teamList {
      padding-inline: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .slider .teamList {
    width: 80%;
  }

  .btn {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .team {
    padding-block: 7rem 10rem;
  }

  .slider .teamList {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .team {
    padding-block: 5rem 7rem;
  }

  .title {
    font-size: 3rem;
  }

  .slider {
    margin-inline: -1.5rem;

    .teamList {
      margin-top: 0;
      padding-inline: 1.5rem;
      padding-bottom: 3rem;
      height: 31rem;
    }
    .employee {
      font-size: 1.2rem;
    }
  }
}
