.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7.3rem;
  width: 100%;
  height: 100vh;
}

.title {
  color: #fff;
  font-size: 10rem;
  padding: 0 3rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30rem;
  padding-bottom: 20rem;
  width: 100%;
  height: auto;
  font-size: 2rem;
  color: #fff;
}

.wallpaper {
  &.kids {
    @include wallpaper('assets/images/dancers/kids.webp');
    background-position: 50% 0%;
  }
  &.online {
    @include wallpaper('assets/images/dancers/online.webp');
    background-position: 50% 50%;
  }
  &.proAmKids {
    @include wallpaper('assets/images/dancers/proamkids.jpg');
    background-position: 50% 35%;
  }
  &.proAmAdults {
    @include wallpaper('assets/images/dancers/proamadults.jpg');
    background-position: 50% 20%;
  }
  &.ballroom {
    @include wallpaper('assets/images/dancers/ballroom.jpg');
    background-position: 50% 70%;
  }
}
